<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shang.noticeuefa"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name_euro" 
           >
        <activity
                android:name=".CoverActivity"
                android:label="@string/app_name_euro"
                android:uiOptions="splitActionBarWhenNarrow"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".FollowActivity"
                android:label="@string/app_name"
                android:uiOptions="splitActionBarWhenNarrow"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".MatchActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="standard"
                
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

  <!--       <activity
                android:name=".test.testAQUERYActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="standard"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
         <activity
                android:name=".test.testNoticeActivity"
                android:configChanges="keyboardHidden|orientation"
                android:label="@string/app_name"
                android:launchMode="standard"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> -->
        
        
         <activity
            android:name=".weibo.SinaTrendActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            
             >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                    <data android:scheme="weibo4andriod" android:host="OAuthActivity" />
                 <data android:scheme="weiboandroidsdk" android:host="TimeLineActivity" />
                -->
            </intent-filter>
        </activity>
        
          <activity
             android:name="com.weibo.net.ShareActivity"
            android:configChanges="keyboardHidden|orientation"
           
            android:screenOrientation="portrait"
            android:theme="@style/ContentOverlay"
       
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" /> 

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<receiver android:name=".AlamrReceiver" android:process=":remote"></receiver>  
        <meta-data android:value="4fa4f80c52701543ff00005d" android:name="UMENG_APPKEY"/>
        <meta-data android:value="DEV" android:name="UMENG_CHANNEL"/>

    </application>
 

</manifest>